<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div>
        <p>Click the button the get jokes!</p>
        <h3>Setup</h3>
        {{ setup }}
        <h3>Punch line</h3>
        {{ punchline }}
    </div>
    <div>
        <form>
            <button>Get another joke!</button>
        </form>
    </div>
    <script src="/js/index.js"></script>
</body>

</html>